/** Proxima Nova **/

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url('./Proxima Nova Thin.eot');
  src:
    local('Proxima Nova Thin'),
    url('./Proxima Nova Thin.woff') format('woff'),
    url('./Proxima Nova Thin.woff2') format('woff2'),
    url('./Proxima Nova Thin.ttf') format('truetype')
    url('./Proxima Nova Thin.svg') format('svg');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('./Proxima Nova Alt Regular.eot');
  src:
    local('Proxima Nova'),
    local('Proxima Nova Alt Regular'),
    url('./Proxima Nova Alt Regular.woff') format('woff'),
    url('./Proxima Nova Alt Regular.ttf') format('truetype')
    url('./Proxima Nova Alt Regular.svg') format('svg');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src:
    local('Proxima Nova Alt Black'),
    url('./Proxima Nova Alt Black.woff') format('woff'),
    url('./Proxima Nova Alt Black.woff2') format('woff2'),
    url('./Proxima Nova Alt Black.ttf') format('truetype')
    url('./Proxima Nova Alt Black.svg') format('svg');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('./Proxima Nova Alt Bold.eot');
  src:
    local('Proxima Nova'),
    local('Proxima Nova Alt Bold'),
    url('./Proxima Nova Alt Bold.woff') format('woff'),
    url('./Proxima Nova Alt Bold.woff2') format('woff2'),
    url('./Proxima Nova Alt Bold.ttf') format('truetype')
    url('./Proxima Nova Alt Bold.svg') format('svg');
}


